<form
  class="form form-registration"
  name="registration_form"
  onsubmit="event.preventDefault()"
>
  <fieldset>
    <legend class="form-legend text-title">
      Leave your contacts and we will call you back
    </legend>
    <load
      src="/partials/form/input-with-icon.html"
      label="Name"
      icon="person"
      type="text"
      name="username"
      autocomplete="off"
    />
    <load
      src="/partials/form/input-with-icon.html"
      label="Phone"
      icon="phone"
      type="tel"
      name="phone"
      autocomplete="off"
    />
    <load
      src="/partials/form/input-with-icon.html"
      label="Email"
      icon="email"
      type="email"
      name="email"
      autocomplete="off"
    />
    <load
      src="/partials/form/textarea.html"
      label="Comment"
      name="comment"
      placeholder="Text input"
    />
  </fieldset>
  <label class="form-label">
    <input type="checkbox" name="privacy_policy" value="true" />
    I accept the terms and conditions of the
    <a href="javascript:void(0)" class="form-link" target="_blank">
      Privacy Policy
    </a>
  </label>
  <button type="submit" class="btn">Send</button>
</form>
