<section class="section-team">
  <div class="container">
    <h2 class="section-title">Our Team</h2>
    <ul class="card-set">
      <load
        src="/partials/index/card-team.html"
        image="team_1"
        alt="Mark Guerrero - Product Designer"
        title="Mark Guerrero"
        subtitle="Product Designer"
      />
      <load
        src="/partials/index/card-team.html"
        image="team_2"
        alt="Tom Ford - Frontend Developer"
        title="Tom Ford"
        subtitle="Frontend Developer"
      />
      <load
        src="/partials/index/card-team.html"
        image="team_3"
        alt="Camila Garcia - Marketing"
        title="Camila Garcia"
        subtitle="Marketing"
      />
      <load
        src="/partials/index/card-team.html"
        image="team_4"
        alt="Daniel Wilson - UI Designer"
        title="Daniel Wilson"
        subtitle="UI Designer"
      />
    </ul>
  </div>
</section>
