<section class="section-services">
  <div class="container">
    <h2 class="section-title">What are we doing</h2>
    <ul class="card-set">
      <li class="card-item">
        <img
          class="img"
          src="./images/services/services_1.jpg"
          alt="dashboard"
        />
      </li>
      <li class="card-item">
        <img
          class="img"
          src="./images/services/services_2.jpg"
          alt="mobile applications"
        />
      </li>
      <li class="card-item">
        <img
          class="img"
          src="./images/services/services_3.jpg"
          alt="mobile first"
        />
      </li>
    </ul>
  </div>
</section>
