<section class="section-services">
  <div class="container">
    <h2 class="section-title">What are we doing</h2>
    <ul class="card-set">
      <load
        src="/partials/index/card-service.html"
        image="services_1"
        alt="dashboard"
      />
      <load
        src="/partials/index/card-service.html"
        image="services_2"
        alt="mobile applications"
      />
      <load
        src="/partials/index/card-service.html"
        image="services_3"
        alt="mobile first"
      />
    </ul>
  </div>
</section>
