<section class="section-clients">
  <div class="container">
    <h2 class="section-title">Customers</h2>
    <ul class="card-set">
      <load src="/partials/index/client-item.html" icon="client_1" />
      <load src="/partials/index/client-item.html" icon="client_2" />
      <load src="/partials/index/client-item.html" icon="client_3" />
      <load src="/partials/index/client-item.html" icon="client_4" />
      <load src="/partials/index/client-item.html" icon="client_5" />
      <load src="/partials/index/client-item.html" icon="client_6" />
    </ul>
  </div>
</section>
