<section class="section-advantages">
  <div class="container">
    <h2 class="visually-hidden"></h2>
    <ul class="card-set">
      <li class="card-item">
        <div class="card-item-section">
          <h3 class="text-title">Strategy</h3>
          <p class="text-body">
            Our goal is to identify the business problem to walk away with the
            perfect and creative solution.
          </p>
        </div>
      </li>
      <li class="card-item">
        <div class="card-item-section">
          <h3 class="text-title">Punctuality</h3>
          <p class="text-body">
            Bring the key message to the brand's audience for the best price
            within the shortest possible time.
          </p>
        </div>
      </li>
      <li class="card-item">
        <div class="card-item-section">
          <h3 class="text-title">Diligence</h3>
          <p class="text-body">
            Research and confirm brands that present the strongest digital
            growth opportunities and minimize risk.
          </p>
        </div>
      </li>
      <li class="card-item">
        <div class="card-item-section">
          <h3 class="text-title">Technologies</h3>
          <p class="text-body">
            Design practice focused on digital experiences. We bring forth a
            deep passion for problem-solving.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
