<section class="section-team">
  <div class="container">
    <h2 class="section-title">Our Team</h2>
    <ul class="card-set">
      <li class="card-item">
        <img
          class="img"
          src="./images/team/team_1.jpg"
          alt="Mark Guerrero - Product Designer"
        />
        <div class="card-item-section">
          <h3 class="text-title">Mark Guerrero</h3>
          <p class="text-body">Product Designer</p>
        </div>
      </li>
      <li class="card-item">
        <img
          class="img"
          src="./images/team/team_2.jpg"
          alt="Tom Ford - Frontend Developer"
        />
        <div class="card-item-section">
          <h3 class="text-title">Tom Ford</h3>
          <p class="text-body">Frontend Developer</p>
        </div>
      </li>
      <li class="card-item">
        <img
          class="img"
          src="./images/team/team_3.jpg"
          alt="Camila Garcia - Marketing"
        />
        <div class="card-item-section">
          <h3 class="text-title">Camila Garcia</h3>
          <p class="text-body">Marketing</p>
        </div>
      </li>
      <li class="card-item">
        <img
          class="img"
          src="./images/team/team_4.jpg"
          alt="Daniel Wilson - UI Designer"
        />
        <div class="card-item-section">
          <h3 class="text-title">Daniel Wilson</h3>
          <p class="text-body">UI Designer</p>
        </div>
      </li>
    </ul>
  </div>
</section>
