<section class="section-advantages">
  <div class="container">
    <h2 class="visually-hidden"></h2>
    <ul class="card-set">
      <load
        src="/partials/index/card-advantages.html"
        title="Strategy"
        text="Our goal is to identify the business problem to walk away with the
            perfect and creative solution."
        icon="antenna"
      />
      <load
        src="/partials/index/card-advantages.html"
        title="Punctuality"
        text="Bring the key message to the brand's audience for the best price
            within the shortest possible time."
        icon="clock"
      />
      <load
        src="/partials/index/card-advantages.html"
        title="Diligence"
        text="Research and confirm brands that present the strongest digital
            growth opportunities and minimize risk."
        icon="diagram"
      />
      <load
        src="/partials/index/card-advantages.html"
        title="Technologies"
        text="Design practice focused on digital experiences. We bring forth a
            deep passion for problem-solving."
        icon="astronaut"
      />
    </ul>
  </div>
</section>
