<li class="card-item">
  <a href="{=$href}">
    <div class="card-image-wrapper">
      <img
        loading="lazy"
        src="./images/portfolio/{=$image}.jpg"
        srcset="
          ./images/portfolio/{=$image}.jpg    1x,
          ./images/portfolio/{=$image}@2x.jpg 2x
        "
        alt="{=$alt}"
        class="img"
      />
      <p class="overlay text-body">
        14 Stylish and User-Friendly App Design Concepts · Task Manager App ·
        Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
      </p>
    </div>
    <div class="card-item-section">
      <h2 class="text-title">{=$title}</h2>
      <p class="text-body">{=$subtitle}</p>
    </div>
  </a>
</li>
