<ul class="filter-btn-group">
  <li class="filter-item">
    <button type="button" class="btn" onclick="event.preventDefault();">
      All
    </button>
  </li>
  <li class="filter-item">
    <button
      type="button"
      class="btn btn-light"
      onclick="event.preventDefault();"
    >
      Web Sites
    </button>
  </li>
  <li class="filter-item">
    <button
      type="button"
      class="btn btn-light"
      onclick="event.preventDefault();"
    >
      App
    </button>
  </li>
  <li class="filter-item">
    <button
      type="button"
      class="btn btn-light"
      onclick="event.preventDefault();"
    >
      Design
    </button>
  </li>
  <li class="filter-item">
    <button
      type="button"
      class="btn btn-light"
      onclick="event.preventDefault();"
    >
      Marketing
    </button>
  </li>
</ul>
