<li class="card-item">
  <a href="{=$href}">
    <div class="card-image-wrapper">
      <img src="./images/portfolio/{=$img}.jpg" alt="{=$alt}" class="img" />
      <p class="overlay text-body">
        14 Stylish and User-Friendly App Design Concepts · Task Manager App ·
        Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
      </p>
    </div>
    <div class="card-item-section">
      <h2 class="text-title">{=$title}</h2>
      <p class="text-body">{=$subtitle}</p>
    </div>
  </a>
</li>
