<section class="portfolio-section">
  <div class="container">
    <h1 class="visually-hidden">Portfolio</h1>
    <ul class="filter-btn-group">
      <li class="filter-item">
        <button type="button" class="btn" onclick="event.preventDefault();">
          All
        </button>
      </li>
      <li class="filter-item">
        <button
          type="button"
          class="btn btn-light"
          onclick="event.preventDefault();"
        >
          Web Sites
        </button>
      </li>
      <li class="filter-item">
        <button
          type="button"
          class="btn btn-light"
          onclick="event.preventDefault();"
        >
          App
        </button>
      </li>
      <li class="filter-item">
        <button
          type="button"
          class="btn btn-light"
          onclick="event.preventDefault();"
        >
          Design
        </button>
      </li>
      <li class="filter-item">
        <button
          type="button"
          class="btn btn-light"
          onclick="event.preventDefault();"
        >
          Marketing
        </button>
      </li>
    </ul>
    <ul class="card-set">
      <li class="card-item">
        <a href="javascript:void(0)">
          <img
            src="./images/portfolio/portfolio_1.jpg"
            alt="Banking App Interface Concept"
            class="img"
          />
          <div class="card-item-section">
            <h2 class="text-title">Banking App Interface Concept</h2>
            <p class="text-body">App</p>
          </div>
        </a>
      </li>
      <li class="card-item">
        <a href="javascript:void(0)">
          <img
            src="./images/portfolio/portfolio_2.jpg"
            alt="Cashless Payment"
            class="img"
          />
          <div class="card-item-section">
            <h2 class="text-title">Cashless Payment</h2>
            <p class="text-body">Marketing</p>
          </div>
        </a>
      </li>
      <li class="card-item">
        <a href="javascript:void(0)">
          <img
            src="./images/portfolio/portfolio_3.jpg"
            alt="Meditation App"
            class="img"
          />
          <div class="card-item-section">
            <h2 class="text-title">Meditation App</h2>
            <p class="text-body">App</p>
          </div>
        </a>
      </li>
      <li class="card-item">
        <a href="javascript:void(0)">
          <img
            src="./images/portfolio/portfolio_4.jpg"
            alt="Taxi Service"
            class="img"
          />
          <div class="card-item-section">
            <h2 class="text-title">Taxi Service</h2>
            <p class="text-body">Marketing</p>
          </div>
        </a>
      </li>
      <li class="card-item">
        <a href="javascript:void(0)">
          <img
            src="./images/portfolio/portfolio_5.jpg"
            alt="Screen Illustrations"
            class="img"
          />
          <div class="card-item-section">
            <h2 class="text-title">Screen Illustrations</h2>
            <p class="text-body">Design</p>
          </div>
        </a>
      </li>
      <li class="card-item">
        <a href="javascript:void(0)">
          <img
            src="./images/portfolio/portfolio_6.jpg"
            alt="Online Courses"
            class="img"
          />
          <div class="card-item-section">
            <h2 class="text-title">Online Courses</h2>
            <p class="text-body">Marketing</p>
          </div>
        </a>
      </li>
      <li class="card-item">
        <a href="javascript:void(0)">
          <img
            src="./images/portfolio/portfolio_7.jpg"
            alt="Instagram Stories Concept"
            class="img"
          />
          <div class="card-item-section">
            <h2 class="text-title">Instagram Stories Concept</h2>
            <p class="text-body">Design</p>
          </div>
        </a>
      </li>
      <li class="card-item">
        <a href="javascript:void(0)">
          <img src="./images/portfolio/portfolio_8.jpg" alt="" class="img" />
          <div class="card-item-section">
            <h2 class="text-title">Organic Food</h2>
            <p class="text-body">Web Site</p>
          </div>
        </a>
      </li>
      <li class="card-item">
        <a href="javascript:void(0)">
          <img
            src="./images/portfolio/portfolio_9.jpg"
            alt="Fresh Coffee"
            class="img"
          />
          <div class="card-item-section">
            <h2 class="text-title">Fresh Coffee</h2>
            <p class="text-body">Web Site</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
