/* footer */
.footer {
  color: var(--light-color);
  background-color: var(--navy-blue);
  padding-block: 100px;
  text-align: center;
}

.footer .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 586px;
  gap: var(--block-indent) var(--inline-indent);
}

.footer .container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer .text-body {
  color: inherit;
}

.footer .footer-description .text-body {
  max-width: 264px;
}

.footer .footer-social .text-body,
.footer .footer-subscribe .text-body {
  font-weight: 500;
}

.footer .footer-social .social-icons-set {
  column-gap: 16px;
  flex-wrap: nowrap;
}

.footer .social-icons-set .icon-link {
  padding: 8px;
}

.footer .social-icons-set .icon-link:hover {
  background-color: var(--success-color);
}

.footer .social-icons-set .icon {
  width: 24px;
  height: 24px;
}

.footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.footer .form-input {
  min-width: 264px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer .form-input,
.footer .form-input::placeholder {
  color: var(--white-color);
}

.footer button[type='submit'] {
  max-width: 165px;
  padding: 8px 24px;
}

.footer .logo {
  display: block;
}

.footer .logo > .logo-suffix {
  color: var(--light-color);
}

@media (min-width: 768px) {
  .footer {
    text-align: start;
  }

  .footer .container {
    flex-direction: row;
  }

  .footer .container > div {
    align-items: flex-start;
  }

  .footer form {
    flex-direction: row;
    gap: 24px;
  }
}

@media (min-width: 1158px) {
  .footer .container {
    justify-content: space-between;
    max-width: calc(var(--md-size) - 16px * 2);
  }
}
