/* general */
.container {
  --current-breakpoint: var(--xs-size);
  padding: 0 16px;
  margin: 0 auto;
  max-width: calc(var(--current-breakpoint) - 16px * 2);
}

@media (min-width: 768px) {
  .container {
    --current-breakpoint: var(--sm-size);
  }
}

@media (min-width: 1158px) {
  .container {
    --current-breakpoint: var(--md-size);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title,
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}
.text-title {
  letter-spacing: 0.02em;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
.section-title {
  margin-bottom: 72px;
}

.text-body {
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-caption {
  line-height: 1.16667;
  font-size: var(--font-caption-size);
  letter-spacing: 0.04em;
}

.link {
  font-size: var(--font-caption-size);
  line-height: 1.33333;
  letter-spacing: 0.04em;
  text-decoration: underline;
  color: var(--primary-color);
}

.btn {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: inline-flex;
  gap: 16px;
  border-radius: var(--border-radius);
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  transition:
    color var(--transition-base),
    background-color var(--transition-base);
}

.btn .icon {
  fill: var(--white-color);
  height: 24px;
}

.btn-light {
  background-color: var(--light-color);
  color: var(--primary-color);
  box-shadow: none;
  transition:
    box-shadow var(--transition-base),
    color var(--transition-base),
    background-color var(--transition-base);
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-color);
  color: var(--white-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn-fab-close {
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  background-color: #e7e9fc10;
  padding: 8px;
  display: inline-flex;
  margin-left: auto;
  cursor: pointer;
  transition: background-color var(--transition-base);
}

.btn-fab-close .icon {
  width: 8px;
  height: 8px;
  fill: var(--navy-blue);
  transition: fill var(--transition-base);
}

.btn-fab-close:hover {
  background-color: var(--pressed-color);
}

.btn-fab-close:hover .icon {
  fill: var(--white-color);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--block-indent) var(--inline-indent);
  margin: 0 auto;
}

.card-set .card-item-section {
  padding: 16px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-set .card-item {
  flex-basis: calc(
    (100% - var(--inline-indent) * (var(--items) - 1)) / var(--items)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

section {
  padding: 96px 0;
}

.logo {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.social-icons-set {
  display: flex;
  column-gap: 24px;
}

.social-icons-set .icon-link {
  background-color: var(--primary-color);
  border-radius: 50%;
  display: inline-flex;
  padding: 12px;
  transition: background-color var(--transition-base);
}

.social-icons-set .icon-link:hover {
  background-color: var(--pressed-color);
}

.social-icons-set .icon {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

@media (min-width: 768px) {
  .page-title {
    font-size: 56px;
    line-height: 1.07;
  }
}
@media (min-width: 1158px) {
  section {
    padding: 120px 0;
  }
}
