/* header */
.header {
  border-bottom: 1px solid 72px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  height: 72px;
}

.header-nav .logo {
  margin-right: 76px;
  display: flex;
  align-items: center;
}

.header-nav,
.header address {
  display: flex;
}

.header .logo > .logo-suffix {
  color: var(--navy-blue);
}

.header .nav-link-group {
  display: flex;
  align-items: center;
}
.header .nav-link-item {
  margin-right: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header .nav-link,
.header .address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: flex;
  align-items: center;
  height: 100%;
}

.header .nav-link {
  font-weight: 500;
  position: relative;
}

.header .nav-link:hover,
.header .address-link:hover,
.header .nav-link.active {
  color: var(--primary-color);
}

.header .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: var(--pressed-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
}
