/* header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 72px;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--accent-color);
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  z-index: 2;
}

.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.header-nav .logo {
  display: flex;
  align-items: center;
}

.header .logo > .logo-suffix {
  color: var(--navy-blue);
}

.header .nav-link-group {
  display: none;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header address .nav-link-group {
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 12px;
}

.header .nav-link-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.header .nav-link,
.header .address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: flex;
  align-items: center;
  height: 100%;
}

.header .nav-link {
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.address-link:hover,
.nav-link.active {
  color: var(--primary-color);
}

.header .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: var(--pressed-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.header .menu-toggle {
  border: none;
  background: none;
}

.header .menu-toggle .icon {
  stroke: black;
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) {
  .header {
    position: relative;
  }
  .header-nav {
    gap: 120px;
  }
  #mobile-menu {
    display: none;
  }

  .header .nav-link-group {
    display: flex;
  }
  .header address .nav-link-item {
    height: auto;
  }
  .header .menu-toggle {
    display: none;
  }
  .header .address-link {
    font-size: 12px;
  }
}

@media (min-width: 1158px) {
  .header-nav {
    gap: 76px;
  }
  .header address .nav-link-group {
    flex-direction: row;
    gap: 40px;
  }
  .header .nav-link,
  .header .address-link {
    font-size: 16px;
  }
}
