/* hero */
.hero {
  height: 600px;
  background-image: linear-gradient(var(--grey-color), var(--grey-color)),
    url(../images/bg/bg_hero.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hero .page-title {
  color: var(--white-color);
  max-width: 496px;
  text-align: center;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
