/* hero */
.hero {
  background-color: var(--navy-blue);
  height: 600px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hero .page-title {
  color: var(--white-color);
  max-width: 496px;
  text-align: center;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
