body:has(.modal:not(.is-hidden)) {
  overflow-y: hidden;
}

.modal {
  /* background-color: var(--modal-backdrop-color); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.modal:not(.is-hidden) {
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.25);
  visibility: visible;
  transition: opacity var(--transition-base);
}

.modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity, visibility var(--transition-base), 0.25s ease-in-out 0s;
}

.modal:not(.is-hidden) .modal-container {
  animation: scaleInFadeIn var(--transition-base) backwards;
}

.modal.is-hidden .modal-container {
  animation: scaleOutFadeOut var(--transition-base) forwards;
}

.modal-container {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: var(--dairy-color);
  width: 408px;
  max-height: 100dvh;
  height: 70dvh;
  border-radius: 4px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-container .modal-header {
  padding: 32px 32px 16px 32px;
  display: flex;
  flex-grow: 1;
}
.modal-container .modal-body {
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
}
.modal-close-btn {
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  background-color: #e7e9fc10;
  padding: 8px;
  display: inline-flex;
  margin-left: auto;
  cursor: pointer;
  transition: background-color var(--transition-base);
}
.modal-close-btn .icon {
  width: 8px;
  height: 8px;
  fill: var(--navy-blue);
  transition: fill var(--transition-base);
}

.modal-close-btn:hover {
  background-color: var(--pressed-color);
}
.modal-close-btn:hover .icon {
  fill: var(--white-color);
}
