body:has(.modal:not(.is-hidden)) {
  overflow-y: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 998;
}

.modal:not(.is-hidden) {
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.25);
  visibility: visible;
  transition: opacity var(--transition-base);
}

.modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity,
    visibility var(--transition-base),
    0.25s ease-in-out 0s;
}

.modal:not(.is-hidden) .modal-container {
  animation: scaleInFadeIn var(--transition-base) backwards;
}

.modal.is-hidden .modal-container {
  animation: scaleOutFadeOut var(--transition-base) forwards;
}

.modal-container {
  box-shadow:
    0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: var(--dairy-color);
  width: 408px;
  max-height: 90dvh;
  border-radius: var(--border-radius);

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-container .modal-header {
  padding: 24px 24px 12px 24px;
  display: flex;
}

.modal-container .modal-body {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
}
