/* sections */
.section-advantages {
  padding-bottom: 60px;
}

.section-advantages .card-item-section {
  padding: 0;
  text-align: start;
}

.section-services {
  --items: 3;
  padding-top: 60px;
}

.section-services .img {
  border: 1px solid var(--accent-color);
}

.section-team {
  background-color: var(--light-color);
}

.section-team .card-item {
  border-radius: 0 0 4px 4px;
  background-color: var(--white-color);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
