:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --font-caption-size: 12px;

  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --modal-backdrop-color: rgba(46, 47, 66, 0.25);
  --success-color: #31d0aa;
  --text-color: #434455;
  --text-subtitle-color: #8e8f99;
  --light-slate-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --navy-blue: #2e2f42;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --checkbox-empty-color: rgba(46, 47, 66, 0.4);
  --grey-color: rgba(46, 47, 66, 0.7);
  --dairy-color: #fcfcfc;
  --white-color: #ffffff;

  --items: 4;
  --indent: 24px;
  --border-radius: 4px;
  --transition-base: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}